* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(to top, #070a52, #56005a, #8d0051, #b9003a, #d21312);
    height: 100vh;
}

.App {
    padding: 3.5rem;
    text-align: center;
}

h1 {
    color: white;
    font-size: 4.5rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f8f9fa;
    margin-bottom: 2rem;
    text-transform: uppercase;
    cursor: default;
}

.todoArea {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    background-color: #070a52;
    width: 45%;
    border-radius: 0.5rem;
}

@media (max-width: 768px) {
    .todoArea {
        width: 85%;
    }
}

.task {
    display: flex;
    color: white;
    padding: 1rem;
    width: 100%;
    border-bottom: #b9003a 1.5px solid;
    transition: 0.3s;
    cursor: pointer;
    justify-content: space-between;
}

.task:hover {
    opacity: 0.8;
}

.task > * {
    font-size: 1.5rem;
}

.taskName {
    margin-left: 1.6rem;
}

.task.isComplete .taskName {
    text-decoration: line-through;
}

.deleteBtn {
    width: 2rem;
    height: 2rem;
    color: white;
    cursor: pointer;
}

.deleteBtn span {
    font-size: 1.5rem;
}
